/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS

---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/

/* ---- CSS RESET --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*=grid-][class*=-equalHeight]>[class*=col] {
  display:block;
  /* This overrides a quirk with gridlex where contents inside of equal height containers become columns themselves */
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }
.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }
.no-padding   { padding: 0; }

.mob-show { display: none;}

.full-width { /* for image grids */
  width:100%
}

/* ----- UNIVERSAL STYLES --------------------------- */

/* Typography */
body {
  font-family: 'Assistant', sans-serif; /* Make sure you have added this font in the head of your HTML! */
  color: rgb(60,60,65);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.1rem;
}
p {
  margin-bottom: 1rem;
}

h1 { font-size: 3.0rem; line-height: 1.2; }
h2 { font-size: 2.4rem; line-height: 1.25; }
h3 { font-size: 2.0rem; line-height: 1.3; }
h4 { font-size: 1.8rem; line-height: 1.35; }
h5 { font-size: 1.7rem; line-height: 1.5; }
h6 { font-size: 1.5rem; line-height: 1.5; }
p  { font-size: 1.1rem; line-height: 1.5;}
blockquote  { font-size: 1.1rem; line-height: 1.5;}
li  { font-size: 1.1rem; }

/* Lists */
ul      { list-style: circle inside; }
ol      { list-style: decimal inside;}
ol, ul  { padding-left: 0; margin-top: 0; }
li      { margin-bottom: 0.5rem; }

hr {
  border: none;
  border-top: 1px solid rgb(245,245,245);
  margin: 3vh 0;
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
}

blockquote {
  border-left: 2px solid rgb(245,245,245);
  margin-left: 3%;
  padding-left: 3%;
  font-weight: 600;
  color: rgb(90,90,95);
}

/* Padding & Margin */

header, footer  { padding: 2vh 5%; }
section         { padding: 10vh 5%; }

.col,
[class*=col-]   { padding: 2%; }

/* Other universal styles */
.featured{
  background-color: #E2B6CF; /* featured color */
  color: white;
}

.fa.featured {
  color: #1abc9c; /* featured color */
  background: none;
}

/* ----- HEADER & FOOTER --------------------------- */
header {
  border-bottom: 1px solid rgb(245,245,245);
}

nav a {
    text-decoration: none;
    padding: 1rem;
    color: inherit;
}

nav a:hover {
  color: #1abc9c; /* featured color */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.logo {
  max-height: 2.5rem;
  max-width: 15rem;
  margin: 0.5rem 0;
  font-family: 'Satisfy', cursive;
  font-size: 3rem;

}

footer {
  border-top: 1px solid rgb(245,245,245);
}

footer nav a {
  display: block;
  padding: 0.5rem;
}

footer nav .fa,
.social-share nav .fa {
  padding: 0 1rem 0 0;
}

.mob-nav a {
  display: block;
  padding: 0.5rem;
}

/* ----- MODULAR ELEMENTS --------------------------- */
.banner {
  background-color: #1abc9c; /* featured-color */
  background-size: cover;
  background-position: center;
  min-height:80vh;
}

.box-img {
  /* This can be used for any col or div that you want filled with a background image. */
  background-color: grey; /* this is a fallback incase the image doesn't load */
  background-image: url('/images/yoga-1.jpg'); /* if you are adding a unique image to every one you can remove this */
  background-size: cover;
  background-position: center;
  min-height: 20vh;
}

/* Buttons */
 button,
.button,
.button-inverted {
  background-color: #eaf2e3; /* featured color */
  border: none;
  border-radius: 5px;
  padding: 0.5rem 3rem;
  margin: 1rem auto;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: grey;
}

.button a {
  color: white;
  text-decoration: none;
}

.button-inverted {
    border: 2px solid white;
    color: white;
}

.button:hover,
.button-inverted:hover {
  background-color: #29aa8e;
  cursor: pointer;
}

.previous,
.next { /* This is to navigate to the previous and next page of pagination for blogs */

}

header {
  background-color: #E2B6CF;
}

header a {
  color: #2a1;
  padding:5px;
  text-decoration: none;
}

/* Blog elements */
.blog-loop a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

.blog-loop img,
.post-body img {
    margin-bottom: 2vh;
}

.post-body {
  padding-right: 3%;
}

.post-meta {
  font-size: 0.9rem;
}

.sidebar > div {
  border: 1px solid rgb(245,245,245);
  padding: 2rem;
  margin: 2vh 0;
}


/* ----- FORMS --------------------------- */
input,
textarea {
  border-style: solid;
  border: 1px solid grey;
  padding: 0.8rem;
  font-family: 'Work Sans'; /* Site Font */
  font-size: 1rem;
  display: inline-block;
  width: 30%;
  margin: 1rem auto;
  vertical-align: top;
}

textarea {
  min-height: 7rem;
}

input[type="submit"] {
  width: auto;
  display: block;
  background-color: #eaf2e3; /* featured color */
}

form [class*=col-] {
  padding: 1%;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 5%;
}
h1 {
 font-family: 'Shrikhand', cursive;
 color: #E2B6CF;
}
h2 {
  font-family: 'Indie Flower', cursive;
  color:black;
  font-size: 3rem;
}

.text-center {
  text-align: center;
}

.padding {
  padding: 5%;
}

.bg-image {
  background-color: grey;
  padding: 5%;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  border: 2vw solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.bg-image h2{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 7%;
  flex-grow: 1;
}

.travel {
  background-image: url('http://icingandglitter.com/wp-content/uploads/2018/05/DSC_6673.jpg');
}
.living {
  background-image: url('http://icingandglitter.com/wp-content/uploads/2017/12/DSC_8296.jpg')
}
.style {
  background-image: url('https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/19420604_10155151146705399_6174218925298367787_n.jpg?_nc_cat=0&oh=321153720280c924f211dbc17ad3caa2&oe=5BA8D1E1');

}

/* MUST HAVES */

.must-haves li {
  display: inline;
}

.must-haves li img {
  max-height: 180px;
}

/* PROFILE SECTION */
.profile .profile-image {
  border-radius: 100%;
}

.profile .social-icons .fab {
  font-size: 3rem;
  color: pink;
}
